{% macro c_struct(c_struct_data) %}
typedef {{ '__packed struct' if c_struct_data.packed else 'struct' }}
{
{% for field_name, field_type_and_desc in c_struct_data.fields.items() %}
    {{ field_type_and_desc[0] }} {{field_name}}; // {{ field_type_and_desc[1] }}
{% endfor %}
} {{ c_struct_data.struct_name.rstrip("_t") | lower }}_t;
{% endmacro %}